body {
  background: #333;
  font-family: 'Quicksand', sans-serif;
}

.beer-header {
  text-align: center;
}

.beer-lead {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 65px;
  text-shadow: 4px 4px 4px #111;
}

.beer-subhead {
  margin: 0;
  font-size: 1.4rem;
  color: #999;
}

.containers {
  width: 1000px;
  margin:0 auto;
  margin-top: 20px;
}

.beer-container {
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 1%;
  float: left;
  width: 23%;
  max-width: 200px;

  padding-top: 25px;
  background: #222;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 0px 12px #222;

}

.beer-name {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.beer-brewer {
  font-size: 1rem;
  margin: 1px;
  color: #fff;
  font-weight: bold;
}

.beer-location {
  font-size: 1rem;
  margin: 1px;
  color: #999;
}

.beer-style {
  font-size: 1em;
  color: #999;
}

.beer-glass {
  display: block;
  margin:20px auto;
}

.beer-stats {
  font-size: 0.70em;
  padding-left: 10px;
  padding-right: 10px;
  color: #999;
  display: flex;
  justify-content: space-between;
}

footer {
 bottom: 0;
 margin: 60px 0 20px;
 font-size: 12px;
 color: #fff;
 font-family: 'Quicksand', sans-serif;
 opacity: .75;
}

footer a {
 text-decoration: none;
 color: #cacaca;
}
