body {
  background: #333;
  font-family: 'Quicksand', sans-serif;
}

.beer-header {
  text-align: center;
}

.beer-lead {
  margin: 0;
  color: #fff;
  font-weight: bold;
  font-size: 65px;
  text-shadow: 4px 4px 4px #111;
}

.beer-subhead {
  margin: 0;
  font-size: 1.4rem;
  color: #999;
}

.containers {
  width: 1000px;
  margin:0 auto;
  margin-top: 20px;
}

.beer-container {
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 1%;
  float: left;
  width: 23%;
  max-width: 200px;

  padding-top: 25px;
  background: #222;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 0px 12px #222;

}

.beer-name {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.beer-brewer {
  font-size: 1rem;
  margin: 1px;
  color: #fff;
  font-weight: bold;
}

.beer-location {
  font-size: 1rem;
  margin: 1px;
  color: #999;
}

.beer-style {
  font-size: 1em;
  color: #999;
}

.beer-glass {
  display: block;
  margin:20px auto;
}

.beer-stats {
  font-size: 0.70em;
  padding-left: 10px;
  padding-right: 10px;
  color: #999;
  display: flex;
  justify-content: space-between;
}

/*
   For some reason the rest of these elements are being ignored
   even though they work fine locally
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #333;
}

/* Modal Content */
.modal-content {
    background-color: #444;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.highcharts-background {
    fill: #555;
    stroke: #222;
    stroke-width: 2px;
}
.highcharts-title {
    font-family: 'Courier New', monospace;
    fill: #eee;
    font-size: 3em;
}
.highcharts-subtitle {
    font-family: 'Courier New', monospace;
    font-style: italic;
    fill: #7cb5ec;
}
.highcharts-color-0 {
	fill: #ddd;
	stroke: #ddd;
}
