body {
  background: #333;
}

.card {
  border: none;
  
}

.card-title.pricing-card-title {
  font-size: 1rem;
}
.card-body {
  padding-top: 25px;
  background: #222;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 0px 12px #222;
}

h1 {
 text-align: center;
 margin: 0;
 color: #fff;
 font-weight: bold;
 font-size: 65px;
}

.lead {
color: #999;}

h2 {
 text-align: center;
 font-size: 1em;
  opacity: 0.5;
  margin-top: 15px;
}
.beer-container {
  margin-top: 60px;
  position: relative;
  box-sizing: none;
}

ul.list-unstyled li {
  font-size: 0.85em;
  color: #999;
}

ul.list-unstyled .city {
  font-size: 1em;
  color: #fff;
}

*, *::before, *::after {
     box-sizing: unset; 
}
#the-bar {
 max-width: 900px;
 margin: 120px auto;
}

.type {
 display: inline-block;
 margin: 0 1.5%;
 border-sizing: content-box;
}

/*glass shadow*/
.type:after {
 content: '';
 position: absolute;
 z-index: -99;
 left: 64px;
 bottom: -22px;
 display: block;
 width: 140px;
 height: 13px;
 border-radius: 50%;
 background: rgba(0, 0, 0, .17);
}

.beer {
 border-bottom: 170px solid yellow;
 border-left: 14px solid transparent;
 border-right: 14px solid transparent;
 height: 0;
 width: 88px;
 border-radius: 30px 30px 0px 0px;
 transform: rotate(180deg);
 margin: 15px auto;
}

/*the glass*/
.beer:after {
 content: '';
 position: absolute;
 right: -22px;
 top: -16px;
 border-bottom: 230px solid rgba(255, 255, 255, .22);
 border-left: 16px solid transparent;
 border-right: 16px solid transparent;
 height: 0;
 width: 100px;
 border-radius: 30px 30px 3px 3px;
}

/*the glass shine 1*/
.beer:before {
 content: '';
 position: absolute;
 top: -11px;
 left: -17px;
 border-bottom: 220px solid rgba(255, 255, 255, .15);
 border-left: 16px solid transparent;
 border-right: 4px solid transparent;
 height: 0;
 width: 44px;
 border-radius: 30px 8px 3px 3px;
}

.foam {
 position: absolute;
 top: -15px;
 left: 51px;
 border-bottom: 30px solid rgba(255, 255, 255, .45);
 border-left: 2px solid transparent;
 border-right: 2px solid transparent;
 height: 0;
 width: 116px;
 border-radius: 1px;
 transform: rotate(180deg);
 box-shadow: 0 -4px 52px rgba(0, 0, 0, .25);
 margin: 0 auto;
}


/*the glass shine 2*/
.foam:before {
 content: '';
 position: absolute;
 top: -162px;
 right: 12px;
 border-bottom: 180px solid rgba(255, 255, 255, .2);
 border-left: 1px solid transparent;
 border-right: 9px solid transparent;
 height: 0;
 width: 3px;
 border-radius: 1px 1px 12px 5px;
}

#pilsner {
 color: #d2c200;
}

#pilsner .beer {
 border-bottom-color: #d2c200;
}

#ipa {
 color: #b55c00;
}

#ipa .beer {
 border-bottom-color: #b55c00;
}

#ipa .foam {
 border-bottom-color: rgba(255, 235, 150, 0.35);
}

#stout {
 color: #0c0700;
}

#stout .beer {
 border-bottom-color: #0c0700;
}

#stout .foam {
 border-bottom-color: rgba(255, 195, 90, 0.35);
}

#cider .beer {
 border-bottom-color: #e89f19;
}

#cider .foam {
 border-bottom-color: #c8c8c8;
}

footer {
 bottom: 0;
 margin: 60px 0 20px;
 text-align: center;
 font-size: 12px;
 color: #fff;
 font-family: 'Quicksand', sans-serif;
 opacity: .75;
}

footer a {
 text-decoration: none;
 color: #cacaca;
}
